.list {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 5px 10px;

}
.line {
width: 5px;
height: 1px;
background-color: red;
flex-grow: 3;
}
.noselect {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
    
}

.noselect,
.noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(10px);
    color: white;
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid #c41b1b;
}

.noselect .icon {
    position: absolute;
    /* border-left: 1px solid #c41b1b; */
    transform: translateX(60px);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect svg {
    width: 10px;
    fill: #eee;
}

.noselect:hover {
    background: #ff3636;
}

.noselect:hover .text {
    color: transparent;
    border-right: none;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(-30px);
    border-left: none;
}

.noselect:focus {
    outline: none;
}

.noselect:active .icon svg {
    transform: scale(0.8);
}


.btnOut {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.btnOut .arrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnOut .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.btnOut .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.btnOut:hover {
    background-color: var(--hover-color);
}

.btnOut:hover .arrow {
    background: var(--secondary-color);
}

.butbtnOutton:hover .arrow:before {
    right: 0;
}